body {
    margin: 0;
}

.pai {
    height: 50px;
    width: 600px;
    position: relative;
    display: inline-block;
}

.filho {
    height: 45px;
    display: inline-block;
}

.AC {
    background-color: rgb(130, 219, 152);
    width: 100%;
    box-sizing: content-box;
    border-bottom: 4px solid black;
    }

img {
    width: 10%;

}
.logo {
    width: 25%;
    height: 80%;
}


.menu {
    list-style: none;
    float: right;  
    height: 60px;
}

.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    float: left;
    font: 18px Verdana;
    
}

.menu li a {color: black; 
    text-decoration: none; 
    padding: 0px 10px; 
    display: block;
}

.menu li a:hover{
    background:#333; 
    color:#fff; 
    -moz-box-shadow:0 20px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff; 
}

.menu li ul {
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    display: none;
}

.menu li:hover ul, .menu li.over ul{display: block;}

.menu li ul li {
    border: 2px solid #cecdcd;
    display: block;
    width: 200px;
    text-align: center;
   
}

@media screen and (max-width: 600px) {

   .logo {
    display: none;
}
    
}
